body
{background-color: lime}

h1
{
	color: red;
	font-size: 50px;
	text-align: center;
}
h2,h3
{
	color: blue;
}
div
{
	border: 4px solid darkred;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	padding: 3%;
	background-color: hotpink;
	color: whitesmoke;
	border-radius: 10%;
}
.groupe1
{
	background-color: lime;
}
.groupe2
{
	background-color: red;
}

.b1
{
	width: 150px ;
	background-color: #0074d9 ;
	color: red;
	border: none;
	border-radius:5px ;
	padding: 10px 20px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	transition: color 0.3s ease ;
}
.b1:hover {
	color:darkred;
	background-color: yellowgreen;
}